.main{
    background-image: url('https://images.pexels.com/photos/413195/pexels-photo-413195.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

.title{
    
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    border-bottom: dashed 2px #CCCCCC;
    padding-bottom: 10px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 1px red,
    2px 2px 1px red;
}